/* CSS reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CSS reset end  */
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff"); }

* {
  box-sizing: border-box; }

/*-------------- wraper----------------- */
.wraper {
  display: flex;
  max-height: 800px;
  max-width: 1200px;
  font-family: 'Myriad Pro Regular'; }

/*-------------- wraper----------------- */
/* -------------main-div----------------*/
.main-div {
  width: 50vw;
  display: flex;
  background-color: #283645;
  justify-content: space-around;
  flex-wrap: wrap; }

.current-time .date {
  color: #9f9f9f;
  font-size: 21px;
  margin-top: 5vh; }

.current-time .time {
  color: #FFF;
  font-size: 42px; }

@media (max-width: 768px) {
  .current-time .date {
    font-size: 16px; }
  .current-time .time {
    font-size: 32px; } }

.done-task .done {
  color: #9f9f9f;
  font-size: 21px;
  margin-top: 5vh; }

.done-task .done-num {
  color: #FFF;
  font-size: 42px; }

@media (max-width: 768px) {
  .done-task .done {
    font-size: 16px; }
  .done-task .done-num {
    font-size: 32px; } }

.clock {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: solid #1b2a45 10px;
  background-color: #1b2a3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5vh 5vw 0; }
  .clock .start-work {
    color: #f4d035;
    font-size: 30px; }
  .clock .timer {
    color: #f4d035;
    font-size: 10vw;
    font-weight: 600; }

@media (max-width: 768px) {
  .clock {
    width: 300px;
    height: 300px; }
    .clock .start-work {
      font-size: 21px; } }

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 2vh;
  margin-bottom: 5%; }
  .btn-container .material-icons:nth-child(odd) {
    font-size: 72px;
    color: #fff; }
    .btn-container .material-icons:nth-child(odd):hover {
      cursor: pointer; }
  .btn-container .material-icons:nth-child(2) {
    font-size: 96px; 
    color: #fff; }
    .btn-container .material-icons:nth-child(2):hover {
      cursor: pointer; }

@media (max-width: 768px) {
  .btn-container .material-icons:nth-child(odd) {
    font-size: 48px; }
  .btn-container .material-icons:nth-child(2) {
    font-size: 60px; } }

/* -------------main-div----------------*/
/*--------------sub-div-----------------*/
.sub-div {
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #0d0d0d; }
  .sub-div .task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 7vh;
    margin-left: 10vw;
    background-color: #f4d035; }
    .sub-div .task-btn > .material-icons {
      font-size: 36px;
      cursor: pointer; }
    .sub-div .task-btn > a, .sub-div .task-btna:hover {
      font-size: 24px;
      text-align: center;
      color: #1b2a3b;
      text-decoration: none;
      padding: 15px;
      padding-left: 5px; }
  .sub-div .todo {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    flex-wrap: wrap; }
    .sub-div .todo .todo-title, .sub-div .todo .done-title {
      font-size: 30px;
      color: #f4d035;
      margin-top: 10px; }
    .sub-div .todo .done-list > li > p {
      text-decoration: line-through; }
    .sub-div .todo li {
      display: flex;
      justify-content: flex-start;
      margin-top: 10px;
      padding: 10px 10px 5px;
      border-radius: 10px;
      background-color: #1b2a3b; }
      .sub-div .todo li i {
        color: #f4d035; }
      .sub-div .todo li p {
        width: 25vw;
        color: #FFF;
        font-size: 21px; }
  @media (max-width: 768px) {
    .sub-div .todo li p {
      font-size: 16px;
      width: 30vw; } }

/*--------------sub-div-----------------*/
/*---------------select-bar-------------*/
.select-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #283645; }
  .select-bar .item-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px; }
    .select-bar .item-bar .material-icons {
      font-size: 36px;
      margin: 15px; }
      .select-bar .item-bar .material-icons:hover {
        cursor: pointer; }
      .select-bar .item-bar .material-icons.yellow {
        color: #f4d035; }
      .select-bar .item-bar .material-icons.light {
        color: #FFF; }
  .select-bar p {
    font-size: 33px;
    color: rgba(255, 255, 255, 0.3);
    writing-mode: vertical-lr;
    align-self: flex-end;
    padding-bottom: 20px; }

/*---------------select-bar-------------*/
