/* CSS reset start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset end  */

@mixin font-size-21 { font-size: 21px;}
@mixin font-size-42 { font-size: 42px;}
@mixin icon-size-36 { font-size: 36px; }
@mixin icon-size-48 { font-size: 48px; }
@mixin icon-size-60 { font-size: 60px; }
@mixin icon-size-72 { font-size: 72px; }
@mixin icon-size-96 { font-size: 96px; }
@mixin icon-size-120 { font-size: 120px; }

@mixin color-white { color: #FFF;}
@mixin color-grey { color: #9f9f9f;}
@mixin color-yellow { color: #f4d035;}
@mixin color-dkblue { color: #1b2a3b;}
@mixin bgcolor-dkerblue{ background-color: #283645;}
@mixin bgcolor-dkblue { background-color: #1b2a3b;}
@mixin bgcolor-yellow { background-color: #f4d035;}
@mixin bgcolor-blkblue { background-color: #0D1514;}

@font-face {
	font-family: 'Myriad Pro Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
*{
	box-sizing: border-box;
}

/*-------------- wraper----------------- */
.wraper{
	display: flex;
	max-height: 800px;
	max-width: 1200px;
	font-family: 'Myriad Pro Regular';
}

/*-------------- wraper----------------- */

/* -------------main-div----------------*/
.main-div{
	width: 50vw;
	display: flex;
	@include bgcolor-dkerblue;
	justify-content: space-around;
	flex-wrap: wrap;
}

.current-time{
	.date{
		@include color-grey;
		@include font-size-21;
		margin-top: 5vh;
	}
	.time{
		@include color-white;
		@include font-size-42;
	}
}

@media (max-width:768px){
	.current-time{
		.date{
			font-size: 16px;
		}
		.time{
			font-size: 32px;
		}
	}
}

.done-task{
	.done{
		@include color-grey;
		@include font-size-21;
		margin-top: 5vh;
	}
	.done-num{
		@include color-white;
		@include font-size-42;
	}
}

@media (max-width:768px){
	.done-task{
		.done{
			font-size: 16px;
		}
		.done-num{
			font-size: 32px;
		}
	}
}

.clock{
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: solid #1b2a45 10px;
	@include bgcolor-dkblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 5vh 5vw 0;
	.start-work{
		@include color-yellow;
		font-size: 30px;
	}
	.timer{
		@include color-yellow;
		font-size: 10vw;
		font-weight: 600;
		}
}

@media (max-width: 768px){
	.clock{
		width: 300px;
		height: 300px;
		.start-work{
			@include font-size-21;  
		}
	}
}


.btn-container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;
	margin-top: 2vh;
	margin-bottom: 5%;
	.material-icons:nth-child(odd){
		@include icon-size-72;
	&:hover{
		cursor: pointer;
	}
	}
	.material-icons:nth-child(2){
		@include icon-size-96;
	&:hover{
		cursor: pointer;
		}
	}
}

@media (max-width: 768px){
	.btn-container{
		.material-icons:nth-child(odd){
			@include icon-size-48;
		}
		.material-icons:nth-child(2){
			@include icon-size-60;
		}
	}
}

/* -------------main-div----------------*/

/*--------------sub-div-----------------*/

.sub-div{
	width: 40vw;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	background-color: #0d0d0d;
	.task-btn{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 30px;
		margin-top: 7vh;
		margin-left: 10vw;
		@include bgcolor-yellow;
		> .material-icons{
			@include icon-size-36;
			cursor: pointer;
		}
		> a, &a:hover{
			font-size: 24px;
			text-align: center;
			@include color-dkblue;
			text-decoration: none;
			padding: 15px;
			padding-left: 5px;
		}
	}

	.todo{
		display: flex;
		flex-direction: column;
		margin-left: 2vw;
		flex-wrap: wrap;
		.todo-title, .done-title{
		font-size: 30px;
		@include color-yellow;
		margin-top: 10px;
		}
		.done-list > li > p{
			text-decoration: line-through;
		}
		li{
			display: flex;
			justify-content: flex-start;
			margin-top: 10px;
			padding: 10px 10px 5px;
			border-radius: 10px;
			@include bgcolor-dkblue;
			i{
				@include color-yellow;
			}
			p{
				width: 25vw;
				@include color-white;
				@include font-size-21;
			}
		}
	}

	@media (max-width: 768px){
		.todo li{
			p{
			font-size: 16px;
			width: 30vw;
			}
		}
	}

}

/*--------------sub-div-----------------*/

/*---------------select-bar-------------*/
.select-bar{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@include bgcolor-dkerblue;
	.item-bar{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 20px;
		.material-icons{
			@include icon-size-36;
			margin: 15px;
			&:hover{
				cursor: pointer;
			}
			&.yellow{
				@include color-yellow;
			}
			&.light{
				@include color-white;
			}
		}
	}
	p{
		font-size: 33px;
		color: rgba($color: #fff, $alpha: 0.3);
		writing-mode: vertical-lr;
		align-self: flex-end;
		padding-bottom: 20px;
	}
}


/*---------------select-bar-------------*/
